.container {
  margin: 0 auto;
  padding: 100px 80px;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1380px) {
  .container {
    padding: 80px 40px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 60px 30px;
  }
}

@media (max-width: 812px) {
  .container {
    flex-direction: column-reverse;
    gap: 20px;
  }
}

@media (max-width: 520px) {
  .container {
    padding: 40px 20px;
  }
}
