.container {
  padding: 70px 178px 107px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--bac-secondary);
}

.leftTimeContainer {
  position: relative;

  font-size: 150px;
  line-height: 179px;
  font-weight: 200;
}

.leftTime {
  margin: 0;
}

.increaseTime {
  position: absolute;
  top: 50%;
  right: -75px;
  transform: translateY(-50%);

  padding: 0;
  width: 50px;
  height: 50px;

  background: none;
  border: none;
  font-size: 0;
  cursor: pointer;
}

.increaseTime:hover circle {
  fill: var(--bac-btn-main-hover);
}

.increaseTime:focus circle {
  opacity: 0.8;
  fill: var(--bac-btn-main-focus);
}

.increaseTime:focus {
  outline: none;
}

.increaseTime path {
  transition: transform 0.3s ease;
  transform-origin: center center;
}

.increaseTime:focus path {
  transform: rotate(45deg);
}

.increaseTime:active svg {
  opacity: 0.9;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.currentTask {
  margin: 0 0 32px;

  text-align: center;
  font-size: 16px;
  line-height: 17px;
}
