.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 40px;

  color: var(--color-additional);
  background-color: var(--bac-additional);
}

.currentTask {
  margin: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
}

.currentPomodoro {
  margin: 0;

  font-size: 16px;
  line-height: 17px;
}

.POMODORO {
  background-color: var(--bac-header-pomodoro);
}
.SHORT_BREAK {
  background-color: var(--bac-header-break);
}
.LONG_BREAK {
  background-color: var(--bac-header-break);
}
