.nav {
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
}

.link {
  display: flex;
  align-items: center;
  gap: 6px;

  color: var(--color-header-link);
  text-decoration: none;

  font-size: 16px;
  line-height: 17px;

  transition: color 0.3s ease;
}

.link path {
  transition: fill 0.3s ease;
}

.link:hover {
  color: var(--color-header-link-hover);
}
.link:hover path {
  fill: var(--color-header-link-hover);
}

.link:focus {
  outline-color: var(--color-header-link-hover);
  color: var(--color-header-link-hover);
}
.link:focus path {
  fill: var(--color-header-link-hover);
}
.link:active {
  opacity: 0.8;
}
