.list {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-bottom: 25px;

  font-size: 16px;
  line-height: 33px;
}

.item::marker {
  color: var(--color-list-style);
}
@media (max-width: 1024px) {
  .list {
    font-size: 14px;
    line-height: 30px;
  }
}

@media (max-width: 812px) {
  .list {
    max-width: none;
  }
}
